body {
    margin: 0;
}
canvas {
    width: 70vw;
    height: 70vh;
    display: block;
}

.column {
    float: left;
    padding: 10px;
    box-sizing: border-box;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
    box-sizing: border-box;
}